version: '3.8'

services:
  user-test-keycloak-db:
    container_name: user-test-keycloak-db
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: user-db
    ports:
      - "5401:5432"

  my-sql-db:
    container_name: my-sql-db
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: user-db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3316:3306"

  keycloak-task-manager:
    container_name: task-test-manager-keycloak
    image: quay.io/keycloak/keycloak:latest
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080;echo -e \"GET /health/ready HTTP/1.1\r\nhost: http://localhost\r\nConnection: close\r\n\r\n\" >&3;grep \"HTTP/1.1 200 OK\" <&3" ]
      interval: 5s
      timeout: 7s
      retries: 5
    command: [ "start-dev", "--import-realm", "--verbose" ]
    volumes:
      - ./target/keycloak-mysql-user-storage-provider.jar:/opt/keycloak/providers/keycloak-mysql-user-storage-provider.jar
    ports:
      - "8180:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin